<!-- <style type="text/css">
	table{
		border: 1px solid black;
		width: 100%;
		height: 100%;
		text-align: center;
		border-spacing: 0;
	}
	td{
		border: 1px solid black;
	}
	.height{
		height: 10%;
	}
	#span{
		column-span: all;
	}
  menu-block .logo a img {
    margin-right: 5px;
    vertical-align: middle;
    height: 140px;
    width: auto;
}
</style> -->
<!DOCTYPE html>
<html>
<head>
	<title>SharkTank</title>
</head>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
<body>
{% block body %}
      <img src ="sharkTan_Logo.png" alt="Logo">
	<!-- <table>
		<tr>
			<td width="22%%">
        <!-- <img src="shark_tankLogo.png" alt="Logo">
				Season 1
			</td>
			<td>
				Content
			</td>
		</tr>
	<!--	<tr class="height">
			<td colspan="2">
				Footer
			</td>
		</tr>

	</table> -->
{% endblock %}
</body>
</html>
